<script type="text/javascript" src="./libs/jquery/dist/jquery.min.js"></script>
<!--<script type="text/javascript" src="./libs/jquery-touchswipe/jquery.touchSwipe.min.js"></script>
-->
<!--<script type="text/javascript" src="/app/vendor/bower_components/gsap/src/minified/TweenMax.min.js"></script>-->

<!--<script type="text/javascript" src="/app/vendor/bower_components/ScrollMagic/scrollmagic/uncompressed/ScrollMagic.js"></script>-->
<!--<script type="text/javascript" src="/app/vendor/bower_components/ScrollMagic/scrollmagic/uncompressed/plugins/debug.addIndicators.js"></script>-->
<!--<script type="text/javascript" src="/app/vendor/bower_components/ScrollMagic/scrollmagic/uncompressed/plugins/animation.gsap.js"></script>-->

<!--<script type="text/javascript" src="/app/vendor/bower_components/jquery-mousewheel/jquery.mousewheel.min.js"></script>-->
<!--<script type="text/javascript" src="scripts/lib/jquery.smoothscroll.min.js"></script>-->


<script type="text/javascript" src="./libs/fotorama/fotorama.js"></script>
<link rel="stylesheet" type="text/css" href="./libs/fotorama/fotorama.css">

<link rel="stylesheet" type="text/css" href="./libs/components-font-awesome/css/font-awesome.min.css">


<script type="text/javascript" src="./scripts/lib/blur.js"></script>