<div class="buttons">
<a class="button active" href="#main">
    <img src="img/main/001_home.svg"/>
    Главная
</a>

<a class="button" href="#history">
    <img src="img/main/002_history.svg"/>
    О проекте
</a>

<a class="button" href="#gallery">
    <img src="img/main/003_gallery.svg"/>
    Галерея
</a>

<a class="button" href="#video">
    <img src="img/main/004_video.svg"/>
    Видео
</a>

<a class="button" href="#map">
    <img src="img/main/005_map.svg"/>
    Виртуальный тур
</a>

<a class="button" href="#pano">
    <img src="img/main/006_360.svg"/>
    360<sup>o</sup>
</a>

<a class="button" href="#floor">
    <img src="img/main/007_select.svg"/>
    Планировки
</a>

<a class="button" href="#contacts">
    <img src="img/main/008_contacts.svg"/>
    Контакты
</a>
</div>