<link rel="stylesheet" type="text/css" href="styles/scenes/contacts.css">

<div class="scene" id="contacts">
    <div id="map"></div>

<div class="addr hidden">

    <div class="header">
        <div class="left">
            Контакты
        </div>
        <div class="right">
            <div class="top">
                Единый номер
            </div>
            <div class="bottom">
                8(800) <b>770 75 77</b>
            </div>
        </div>
    </div>
    <div class="body">
        <div class="left">

        </div>
        <div class="right">
            Санкт-Петербург
            <div class="tags">
                <div class="tag red">
                    На карте
                </div>
                <div class="tag blue">
                    <a href="mailto:mail@lsrgroup.ru">
                        mail@lsrgroup.ru
                    </a>
                </div>
            </div>

            <div class="address">
                190031, г. Санкт-Петербург,<br/>
                Казанская ул., 36
            </div>
        </div>
    </div>

</div>

</div>

<script type="text/javascript" src="scripts/scenes/contacts.js"></script>