<link rel="stylesheet" type="text/css" href="styles/scenes/gallery.css">

<div id="gallery" class="scene">
    

<div class="fotorama">

    <div class="item" data-thumb="img/gallery/thumbs/baskov_cam_001.jpg">
        <div class="title default" style="margin-top: 20%;">
            "Русский дом" обладает яркой, запоминающейся архитектурой, органично вписывающейся в сложивщеюся застройку района
        </div>
        <img  src="img/gallery/baskov_cam_001.jpg"  alt="Baskov image"/>
    </div>

    <div class="item" data-thumb="img/gallery/thumbs/baskov_cam_002.jpg">
        <div class="title default">
            Новый дом окружают здания, построенные во второй половине XVIII-, начала XIX века.<br/>
            Многие из них являются памятниками архитектуры и находятся под охраной.
        </div>
        <img  src="img/gallery/baskov_cam_002.jpg"  alt="Baskov image"/>
    </div>

    <div class="item" data-thumb="img/gallery/thumbs/baskov_cam_003.jpg">
        <div class="title default" style="max-width: 70%">
            В разновысотном (5-9 этажей) объекте запроектировано 395 квартир площадью 52,7 - 265,7 кв.м.<br/>
            В предложении есть квартиры с террасами, расположенные на 6-9 этажах.
        </div>
        <img  src="img/gallery/baskov_cam_003.jpg"  alt="Baskov image"/>
    </div>

    <div class="item" data-thumb="img/gallery/thumbs/baskov_cam_004.jpg">
        <div class="title default" style="max-width: 90%; margin-top: 2%;">
            Ядром композиционного решения стало центральное парадное пространство, разомкнутое в сторону Баскова переулка.<br/>
            Оно как бы втягивает улицу в глубину жилого квартала и активно включает его территорию в архитектурный ансамбль.
        </div>
        <img  src="img/gallery/baskov_cam_004.jpg"  alt="Baskov image"/>
    </div>

    <div class="item" data-thumb="img/gallery/thumbs/baskov_cam_005.jpg">
        <div class="title default" style="margin-top: 5%;">
            В новом комплексе запроектирован паркинг на 519 машиномест.<br/>
            Более 7 тыс. кв. м. отводится под коммерческие помещения.
        </div>
        <img  src="img/gallery/baskov_cam_005.jpg"  alt="Baskov image"/>
    </div>

    <div class="item" data-thumb="img/gallery/thumbs/baskov_cam_006.jpg">
        <div class="title default" style="margin-top: 5%;">
            "Русский дом" предусматривает редкое для расположенных в центре города жилых комплексов композиционное решение - просторную прогулочную зону отдыха с партерными газонами.
        </div>
        <img  src="img/gallery/baskov_cam_006.jpg"  alt="Baskov image"/>
    </div>

    <div class="item" data-thumb="img/gallery/thumbs/baskov_cam_007.jpg">
        <div class="title default" style="margin-top: 5%;">
            Благоустройство такого же высокого уровня будет и во внутренних дворах комплекса.<br/>
            В одном из них предусмотрено утсройство детских площадок.
        </div>
        <img  src="img/gallery/baskov_cam_007.jpg"  alt="Baskov image"/>
    </div>

    <div class="item" data-thumb="img/gallery/thumbs/baskov_cam_008.jpg">
        <img  src="img/gallery/baskov_cam_008.jpg"  alt="Baskov image"/>
    </div>

    <div class="item" data-thumb="img/gallery/thumbs/baskov_cam_009.jpg">
        <img  src="img/gallery/baskov_cam_009.jpg"  alt="Baskov image"/>
    </div>

    <div class="item" data-thumb="img/gallery/thumbs/baskov_cam_010.jpg">
        <div class="title default" style="margin-top: 5%;">
            Поселившись здесь, можно наслаждаться комфортом проживания в одном из наиболее красивых районов Северной столицы.
        </div>
        <img  src="img/gallery/baskov_cam_010.jpg"  alt="Baskov image"/>
    </div>

    <div class="item" data-thumb="img/gallery/thumbs/baskov_cam_011.jpg">
        <div class="title default" style="margin-top: 5%;">
            Динамичность силуэта, пластическая выразительность фасадной композиции, наличие эркеров, башен и акцентных завершений позволяет новому комплексу стать органичным элементом сложившейся исторической ткани города.
        </div>
        <img  src="img/gallery/baskov_cam_011.jpg"  alt="Baskov image"/>
    </div>

    <div class="item" data-thumb="img/gallery/thumbs/baskov_cam_012.jpg">
        <img  src="img/gallery/baskov_cam_012.jpg"  alt="Baskov image"/>
    </div>

    <div class="item" data-thumb="img/gallery/thumbs/baskov_cam_013.jpg">
        <div class="title default" style="margin-top: 5%;">
            Многообразный каменный декор выполнен по мотивам древнерусской резьбы.<br/>
            Цветовая палитра - сдержанная, пастельных тонов натурального камня.
        </div>
        <img  src="img/gallery/baskov_cam_013.jpg"  alt="Baskov image"/>
    </div>

    <div class="item" data-thumb="img/gallery/thumbs/baskov_cam_014.jpg">
        <div class="title default" style="margin-top: 5%;">
            "Русский дом" находится в пешеходной доступности от главной городской артерии - Невского проспекта и основных магистралей Центрального района - Литейного проспекта и улицы Маяковского.
        </div>
        <img  src="img/gallery/baskov_cam_014.jpg"  alt="Baskov image"/>
    </div>

    <div class="item" data-thumb="img/gallery/thumbs/baskov_cam_015.jpg">
        <div class="title default" style="margin-top: 5%;">
            "Русский дом" - это качество строительства, запоминающаяся архитектура, престиж и удобство расположения в историческом центре Петербурга.
        </div>
        <img  src="img/gallery/baskov_cam_015.jpg"  alt="Baskov image"/>
    </div>

    <div class="item" data-thumb="img/gallery/thumbs/baskov_cam_016.jpg">
        <div class="title default" style="margin-top: 5%;">
            Ввод объекта в эксплуатацию - декабрь 2017 года
        </div>

        <div class="title from-right" style="margin-top:50%; right: 100px;">
            Реализация объекта ведется в соответствии с 214 ФЗ
        </div>


        <img  src="img/gallery/baskov_cam_016.jpg"  alt="Baskov image"/>
    </div>
    
    

</div>

</div>


<script type="text/javascript" src="scripts/scenes/gallery.js"></script>