<link rel="stylesheet" type="text/css" href="styles/scenes/history.css">

<div id="history" class="scene">
    <div class="foto"></div>
    <div class="content_bg"></div>
    <div class="content" id="history_content">
        <div class="image">
            <div class="house" id="history_house" style="margin-left: -100%; opacity: 0;"></div>
        </div>
        <div class="text" id="history_info" style="right: -300px; opacity: 0;">
            <div class="wrap">
                <div class="text-content">
                    Многоквартирный жилой дом со встроенными помещениями и подземной автостоянкой состоит из разновысотных жилых корпусов, сблокированных между собой и соединенных общим стилобатом подземного пространства. Внешний облик комплекса навеян архитектурными шедеврами Москвы, Нижнего Новгорода, Царского села, Костромы. Проектируемый жилой объект займет территорию в половину квартала. Дом имеет необычную конфигурацию, благодаря чему образуются два замкнутых приватных дворика и парадная зона отдыха с аллеями и партерными газонами. Главным фасадом дом обращён в сторону ул. Баскова. В нем традиционно проектируется подземная автостоянка, а также встроенноу ДОУ с прогулочной площадкой в одном из двориков.
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="scripts/scenes/history.js"></script>