<link rel="stylesheet" type="text/css" href="styles/scenes/main.css">

<div id="main" class="scene">

    <img class="logo" src="img/logo.png" style="top: 40%; opacity:0;"/>

    <div class="h-menu new">
        <a href="#history">
            <img src="img/main/002_history.svg"/>
        </a>

        <a href="#gallery">
            <img src="img/main/003_gallery.svg"/>
        </a>

        <a href="#video">
            <img src="img/main/004_video.svg"/>
        </a>

        <a href="#map">
            <img src="img/main/005_map.svg"/>
        </a>

        <a href="#pano">
            <img src="img/main/006_360.svg"/>
        </a>

        <a href="#floor">
            <img src="img/main/007_select.svg"/>
        </a>

        <a href="#contacts">
            <img src="img/main/008_contacts.svg"/>
        </a>
    </div>

</div>
<script type="text/javascript" src="scripts/scenes/main.js"></script>